.pendiente{
    font-size: 14px;
    padding: 20px;
    background-color: #f1e6d8;
    border: 15px solid white;
}

.canasta {
    font-size: 13px;
    padding: 20px;
    background-color: #f3f6f7;
    border: 15px solid white;
}