<app-landing></app-landing>
<div class="container">
    <div>
        <hr style="border-top: dotted 3px; margin-bottom: 30px; color: orange">
        <i class="bi bi-chevron-bar-down fs-1 d-flex justify-content-center"></i>
        <div>
            <app-landing-form-pendiente [addListar]="addListar" [ngStyle]="{'color': '#2278a9'}">
            </app-landing-form-pendiente>
        </div>
    </div>
    <div>
        <div>
            <div class="pendiente">
                <app-landing-lista [data]="landing"></app-landing-lista>
            </div>
        </div>
    </div>
</div>