.pendiente{
    font-size: 15px;
    padding: 20px;
    border: 15px solid white;
    font-weight: bolder;
   }

.canasta {
    font-size: 15px;
    padding: 20px;
    border: 15px solid white;
    color: #929191;
}