.container {
  width: 80%;
}

ol {
  counter-reset: li;
  list-style: none;
  padding: 0;
}

ol a {
  position: relative;
  display: flex wrap;
  padding: 10px;
  background: #D3D4DA;
  color: #6e6c6c;
  text-decoration: none;
  transition: all .3s ease-out;
  margin-bottom: 5px;
}

ol a:hover {
  background: #DCDDE1;
}

ol a:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -2.5em;
  top: 50%;
  margin-top: -1em;
  background: #f9dd94;
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
}

ol a:after {
  position: absolute;
  content: "";
  border: .5em solid transparent;
  left: -1em;
  top: 50%;
  margin-top: -.5em;
  transition: all .3s ease-out;
}

ol a:hover:after {
  left: -.5em;
  border-left-color: #cf4252;
}

.btn{
  color: #cf4252;
  font-size: 25px;
  border: none;
}