<div class="logo">
    <img src="assets/LogoMyBilling.png" alt="LogoMyBilling">
</div>
<div class="Encabezado">
    <p>La app que le permite registrar sus gastos diarios</p>
</div>
<div class="Botones mb-5">
    <div><img class="iconos" src="assets/icono-gastos.png" alt="Icono-Gastos">
        <a button class="button"
            routerLink="/landing-gastos"
            routerLinkActive="activebutton"
            ariaCurrentWhenActive="page">
            Gastos
        </a>
    </div>
    <div>
        <img class="iconos" src="assets/icono-historial.png" alt="Icono-Historial">
        <a button class="button"
            routerLink="/landing-historial"
            routerLinkActive="activebutton"
            ariaCurrentWhenActive="page">
            Historial
        </a>
    </div>
    <div>
        <img class="iconos" src="assets/icono-lista.png" alt="Icono-Buscar">
        <a button class="button"
            routerLink="/landing-pendiente"
            routerLinkActive="activebutton"
            ariaCurrentWhenActive="page">
            Pendiente
        </a>
    </div>
</div>
<router-outlet></router-outlet>