<div class="logo">
    <img src="assets/LogoMyBilling.png" alt="LogoMyBilling">
</div>
<div class="Encabezado">
    <p>La app que le permite registrar sus gastos diarios</p>
</div>
<div class="Botones">
    <div><img class="iconos" src="assets/icono-gastos.png" alt="Icono-Gastos">
        <button>Gastos</button>
    </div>
    <div>
        <img class="iconos" src="assets/icono-historial.png" alt="Icono-Historial">
        <button>Historial</button>
    </div>
    <div>
        <img class="iconos" src="assets/icono-buscar.png" alt="Icono-Buscar">
        <button>Buscar</button>
    </div>
</div>