<!-- <pre>{{ contactForm.value | json }}</pre> -->

<h5>Registrar gastos del mes</h5>
<br>
<form (ngSubmit)="onSubmit()" [formGroup]="contactForm">
<div class="mb-4">
  <label for="name" class="form">Gasto</label>
  <input id="name" class="form-control" name="name" type="text" minlength= "3" required formControlName = "name"/>
  <p *ngIf="contactForm.get('name')?.touched && contactForm.get('name')?.errors?.['required']" class="alert alert-danger">Este campo es requerido</p>
  <p *ngIf="contactForm.get('name')?.touched && contactForm.get('name')?.errors?.['minlength']" class="alert alert-danger">Este campo debe tener al menos 3 caracteres</p>
</div>
<div class="mb-4">
  <label for="operativeSystem" class="form-label">Tipo de Gasto</label>
  <select class="form-select form-select-sm" 
          name="operativeSystem" 
          id="operativeSystem" 
          title="operativeSystem"
          formControlName = "operativeSystem">
    <option selected disabled>Seleccione una opcion</option>
    <option value="canasta">Canasta Básica</option>
    <option value="deporteyocio">Deporte y Ocio</option>
    <option value="vehiculo">Vehículo</option>
    <option value="mascota">Mascotas</option>
    <option value="academico">Académico</option>
    <option value="otros">Otros</option>
  </select>
</div>
<div class="mb-4">
  <label for="comment" class="form-label">Comentarios adicionales</label>
  <textarea class="form-control" id="comment" name="comment" formControlName = "comment"></textarea>
</div>
<div class="d-flex justify-content-end">
  <button class="btn btn-primary"type="submit" [disabled]="contactForm.invalid">Enviar</button>
</div>
</form>