
<div [ngStyle]="{'background': 'red'}"></div>
<i class="bi bi-chevron-bar-down fs-1 d-flex justify-content-center"></i>

<div class="d-flex justify-content-center mb-4">
    <app-landing-form-pendiente [addListar]="addListar"></app-landing-form-pendiente>
</div>
<div class="d-flex justify-content-center">
    <app-landing-lista [data]="landing"></app-landing-lista>
</div>

<ul>
    <li *ngFor="let canasta of landingPendienteService.canastabasica">{{ canastabasica }}</li>
</ul>



<!-- Ejemplo -->
<!-- <hr [ngStyle]="{'background': 'red'}"> -->