<div class="container">
    <hr style="border-top: dotted 2px; margin-bottom: 30px;">
    <i class="bi bi-chevron-bar-down fs-1 d-flex justify-content-center"></i>
    <div class="d-flex justify-content-center mb-4 ms-2">
        <app-landing-form-pendiente [addListar]="addListar"></app-landing-form-pendiente>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="pendiente col-6">
            <p [ngStyle]="{'color': 'gray'}">Pendientes</p>
            <app-landing-lista [data]="landing"></app-landing-lista>
        </div>
        <div class="canasta col-6">
            <p [ngStyle]="{'color': 'gray'}">Lista Canasta Básica</p>
            <ul>
                <li *ngFor="let canasta of canasta.canastabasica">{{ canasta }}</li>
            </ul>
        </div>
    </div>
</div>