<i class="bi bi-chevron-bar-down fs-1 d-flex justify-content-center"></i>

<div class="d-flex justify-content-center mb-4">
    <app-landing-form-pendiente [addListar]="addListar"></app-landing-form-pendiente>
</div>
<div class="d-flex justify-content-center">
    <div>
        <app-landing-lista [data]="landing"></app-landing-lista>
    </div>
    <div class="canasta">
        <p [ngStyle]="{'color': 'gray'}">Lista Canasta Basica</p>
        <ul>
            <li *ngFor="let canasta of canasta.canastabasica">{{ canasta }}</li>
        </ul>    
    </div>
</div>




<!-- Ejemplo -->
<!-- <hr [ngStyle]="{'background': 'red'}"> -->